@page
@model ModernMoviesWeb.Pages.MovieAdmin.ViewMoviesModel
@{
}
<form method="post" class="form-group">
	<div class=" row m-2">
		<div class=" col-2">
			<label class="form-label">Genre</label>
		</div>
		<div class=" col-8">
			<select asp-for="SelectedGenreId" asp-items="Model.Genres"></select>
		</div>
		<div class="col-2">
			<button class="btn btn-primary">Display</button>
		</div>
	</div>
	@foreach (var movie in Model.Movies)
	{
		<div class="row m-2 border">
			<div class="row m-2">
				<div class="col-2">
					<img src="@movie.Image" class="img-rounded" alt="@movie.MovieName">
				</div>
			</div>
			<div class="row m-2">
				<div class="col-2">
					<label class="form-label" asp-for="@movie.MovieName"></label>
				</div>
				<div class="col-10">
					<label class="form-label">@movie.MovieName</label> 
				</div>
			</div>
			<div class="row m-2">
				<div class="col-2">
					<label class="form-label" asp-for="@movie.MovieDesc"></label>
				</div>
				<div class="col-10">
					<label class="form-label">@movie.MovieDesc</label>
				</div>
			</div>
			<div class="row m-2">
				<div class="col-2">
					<label class="form-label" asp-for="@movie.MinRuntime"></label>
				</div>
				<div class="col-10">
					<label class="form-label">@movie.MinRuntime</label>
				</div>
			</div>
			<div class="row m-2">
				<div class="col-2">
					<label class="form-label" asp-for="@movie.ReleaseDate"></label>
				</div>
				<div class="col-10">
					<label class="form-label">@movie.ReleaseDate.ToShortDateString()</label>
				</div>
			</div>
			<div class="row m-2">
				<div class="col-2">
					<label class="form-label" asp-for="@movie.RatingID"></label>
				</div>
				<div class="col-10">
					<label class="form-label">@movie.RatingID</label>
				</div>
			</div>
			<div class="row m-2">
				<div class="col-2">
					<label class="form-label" asp-for="@movie.GenreID"></label>
				</div>
				<div class="col-10">
					<label class="form-label">@movie.GenreID</label>
				</div>
			</div>
			<div class="row m-2">
				<div class="col-3">
					<a asp-page="EditMovie" asp-route-id="@movie.MovieID" class="btn btn-primary"> <i class="bi bi-pencil-square"></i> Edit Movie</a>
				</div>
				<div class="col-3">
					<a asp-page="DeleteMovie" asp-route-id="@movie.MovieID" class="btn btn-primary" onclick="return confirm('Are you sure you want to delete this movie from the site permanently?');"><i class="bi bi-trash"></i> Delete Movie</a>
				</div>
			</div>
		</div>
	}
</form>