@page
@model ModernMoviesWeb.Pages.MoviePages.MoviesModel
@{
}

<!--Radio Buttons for Sorting Options-->
<h3 class="pinkable">
    SORT BY:
</h3>
<div class="d-flex justify-content-center">
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="sort" id="atoz" value="option1" checked>
        <label class="pinkable form-check-label" for="atoz">
            A TO Z
        </label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="sort" id="releaseDate" value="option2">
        <label class="pinkable form-check-label" for="releaseDate">
            RELEASE DATE
        </label>
    </div>
</div>
<!--Buttons to open filter flyouts-->
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-4 p-2">
            <button class="btn btn-primary w-100" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasGenre" aria-controls="offcanvasGenre">
                GENRE FILTERS
            </button>
        </div>
        <div class="col-4 p-2">
            <button class="btn btn-primary w-100" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRating" aria-controls="offcanvasRating">
                RATING FILTERS
            </button>
        </div>
    </div>
</div>

<div class="container overflow-hidden justify-content-center">
    <div class="row gx-3 justify-content-center">
        @foreach (var movie in Model.Movies)
        {
            

            <div class="col-4 p-3 justify-content-center">
                <div class="card c" style="width: 18rem;">
                    <img class="card-img-top" src="@movie.Image" alt="Card image cap">
                    <div class="card-body">
                        <div class="row m-1 justify-content-center">
                            <label class="form-label text-center ">@movie.MovieName</label>
                        </div>
                        <div class="row m-1 justify-content-center">
                            <label class="form-label text-center">@movie.MinRuntime</label>
                        </div>
                        <div class="row m-1 justify-content-center">
                            <label class="form-label text-center">@Model.Ratings[movie.RatingID].RatingName</label>
                        </div>
                        <div class="row m-1 justify-content-center">
                            <label class="form-label text-center">@Model.Genres[movie.GenreID].Genre</label>
                        </div>
                        <div class="row justify-content-center ">
                            <a class="btn btn-primary text-center">Book Tickets</a>
                        </div>
                    </div>
                </div>
                

            </div>
        }
    </div>
   
</div>




<!--filter flyouts-->
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasGenre" aria-labelledby="offcanvasGenreLabel">
    <div class="offcanvas-header pinkable">
        <h2 class="offcanvas-title" id="offcanvasGenreLabel">Offcanvas</h2>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body overflow-scroll">
        

        <!--Checkboxes for Category Options-->
        <div class="position-absolute bottom-90">
            <h3 class="pinkable left-header">
                GENRE FILTERS:
            </h3>
            @foreach(GenreInfo genre in Model.Genres)
            {
                <input type="checkbox" value="@genre.GenreID" checked="@genre.IsSelected name="selectedGenreIDs"/>
                <label class="pinkable form-label-check">@genre.Genre</label>
                <br/>
            }
        </div>
    </div>
</div>

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasRating" aria-labelledby="offcanvasRatingLabel">
    <div class="offcanvas-header pinkable">
        <h2 class="offcanvas-title" id="offcanvasRatingLabel">Offcanvas</h2>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body overflow-scroll">


        <!--Checkboxes for Category Options-->
        <div class="position-absolute bottom-90">
            <h3 class="pinkable left-header">
                AGE RATING FILTERS:
            </h3>
            @foreach (RatingInfo rating in Model.Ratings)
            {
                <input type="checkbox" value="@rating.RatingID" checked="@rating.IsSelected name="selectedRatingIDs"/>
                <label class="pinkable form-label-check">@rating.RatingName</label>
                <br/>
            }
        </div>
    </div>
</div>