@page
@model ModernMoviesWeb.Pages.Account.ProfileModel
@{
    ViewData["Title"] = "Profile";
}
@section Styles {
    <link rel="stylesheet" href="~/Styles/main.css"/>
}
<h2 id="test">@ViewData["Title"]</h2>

<div class="row m-2">
    <div class="col-2">
        <label>Name:</label>
    </div>
    <div class="col-10" id="test">
        <span>@Model.profile.Name</span>
    </div>
</div>

<div class="row m-2">
    <div class="col-2">
        <label>Email:</label>
    </div>
    <div class="col-10">
        <span>@Model.profile.Email</span>
    </div>
</div>

<div class="row m-2">
    <div class="col-2">
        <label>Phone Number:</label>
    </div>
    <div class="col-10">
        <span>@Model.profile.PhoneNumber</span>
    </div>
</div>

<div class="row m-2">
    <div class="col-2">
        <label>Last Login:</label>
    </div>
    <div class="col-10">
        <span>@Model.profile.LastLoginTime.ToString()</span>
    </div>
</div>